

<div class="wrapper">

  <div class="landingPage" id="homepage">
    <div class="landingBackground">

    </div>
    <img src="./assets/images/otterLogo.png" alt="Otter Productions" id="otterLogo">
    <img src="./assets/images/arrow.png" alt="" id=arrow>
  </div>
  <header>
    <h1 class="logo">Otter Productions</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
      <ul>
        <li><a href="#homepage">Hjem</a></li>
        <li><a href="#aboutUs">Om oss</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#production">Produksjon</a></li>
        <li><a href="#productDevelopment">Produktutvikling</a></li>
        <li><a href="#projects">Prosjekter</a></li>
        <li><a href="#contact">Kontakt Oss</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>

  <div class="content" id="aboutUs">
    <h2>Om oss</h2>
    <p>
      Si det slik: I en verden som spinner fortere og fortere og teknologien stadig fornyes, lager en flere IT løsninger enn noen gang.
      Disse løsningene er til for å hjelpe deg med hverdagslige utfordringer og sørge for at du når målene dine i løpet av dagen.
    </p>
    <p>
      Når du begynner å oppdage små uregelmessigheter eller irritasjonsmomenter i programvaren som gjør at du mister fokus eller blir frustrert,
      bidrar ikke programvaren til at du når målene dine, heller motsatt.
    </p>
    <p>
      Det er her <strong>Otter Productions</strong> kommer inn i bildet. Vi tar på oss prosjekter for å lage løsninger som er unike og tilpasset dine behov.
      Vi er perfeksjonister. Vi tar aldri snarveier, og vi står for det vi sier og gjør.
    </p>
  </div>


  <div class="content" id="portfolio">

    <h3>Events vi har hjulpet med tidligere</h3>

    <div class="portoEvents">

      <div class="portoEvent" >
        <div class="background" style="background-image: url('./assets/images/events/dhmasters.png')">
          <img src="./assets/images/logos/DHMasters.png" alt="DreamHack Masters">
        </div>
      </div>

      <div class="portoEvent" >
        <div class="background" style="background-image: url('./assets/images/events/faceit.png')">
          <img src="./assets/images/logos/Faceit.png" alt="Faceit">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/pubg.png')">
          <img src="./assets/images/logos/pubg.png" alt="PUBG">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/zotac.png')">
          <img src="./assets/images/logos/Zotac.png" alt="Zotac">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/dhopen.png')">
          <img src="./assets/images/logos/DHOpen.png" alt="DreamHack Open">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/gll.png')">
          <img src="./assets/images/logos/GLL.png" alt="GLL">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/telenorligaen.png')">
          <img src="./assets/images/logos/Telenorligaen.png" alt="Telenorligaen">
        </div>
      </div>

      <div class="portoEvent">
        <div class="background" style="background-image: url('./assets/images/events/polaris.png')">
          <img src="./assets/images/logos/Polaris.png" alt="Polaris">
        </div>
      </div>

    </div>

  </div>


  <div class="content" id="production">
    <h2>TV- og Eventproduksjon</h2>
    <p>
      Vi mener at alle produksjoner enten de skal utføres for et lite studio eller på en stor arena, skal behandles likt. At du skal slippe å tenke på det tekniske
      eller nødvendig programvare, men kunne bruke tiden din på å fokusere på å skape innhold og utvikle ditt eget konsept slik at alle assosiasjoner som knyttes til det du lager blir positive.
    </p>
    <p>
      Otter Productions har spesialisert seg innenfor utvikling av verktøy som legger merverdi til ditt produkt, uten å forstyrre det arbeidet dere gjør eller allerede har gjort.
      Vi utvikler programvare som styrer lys, lyd og pyroeffekter, men også analyse og statistikk. Vi bygger programvare som gjør hverdagen enklere for innholdsskapere.
    </p>
  </div>


  <div class="content" id="productDevelopment">
    <h2>Produktutvikling</h2>
    <p>
      En skulle tro at alle produktutviklere er visjonærer. I Otter Productions liker vi å tenke at for å utvikle et godt produkt,
      kreves det mer enn bare visjon. Vi har sterk tro på at alle gode produkter blir skapt etter god dialog med kunden.
    </p>
    <p>
      Vi vil høre deres ønsker.
    </p>
    <p>
      Vi ønsker å skape produkter som ikke eksisterer fra før. Et produkt som ikke kan lages ved å bare se på nettet.
    </p>
    <p>
        Med bakgrunn innen IT, TV- og eventproduksjon og kundeservice, gjør vi alt vi kan for at din idé skal virkeliggjøres.
    </p>

  </div>

  <div class="content" id="projects">
    <h2>Dreamhack</h2>
    <p>
      Profesjonell dataspilling, også kalt esport, har de siste årene etablert seg som en milliardindustri. Organisatorene av disse turneringene konkurrerer nå hardere enn
      noen gang for og levere best mulig produksjonskvalitet. En av disse organisatorene er Dreamhack. Se for deg det norske datatreffet “The Gathering",
      men med store scener og en skare av fans som roper på sine favorittutøvere.
    </p>
    <p>
      Dreamhack har en lang historie og mye erfaring med organisering av slike datafestivaler, men det har ikke alltid vært slik. Selv da esport ikke var så stort som det er i dag, arbeidet
      Dreamhack for å øke produksjonskvaliteten til sine turneringer. Det var det som førte til at en av oss som jobber i Otter Productions, ble dratt inn i denne verden rundt juletider 2015.
    </p>
    <p>
      I to år lagde vi og satte i drift programvare for Dreamhack AB. Til å begynne med jobbet vi bare med og integrere dataspillene på scenen. Det måtte lages grafikk som ga informasjon om
      spillerne på store led-vegger, det måtte utvikles programvare for styring av sceneeffekter som pyroteknikk og lyssettingen måtte beveges ut fra spillernes handlinger.
    </p>
    <p>
      Etter et par arrangementer måtte mye utvikles også i forhold til selve TV produksjonene. Det handlet om innhenting og fremvisning av statistikk fra dataspillene, om programmering av stoppeklokker
      for produksjonspersonellet og om statistikkproduksjon beregnet for kommentatorene. Vi har reist kloden rundt og jobbet med Dreamhack Open i 2016 og 2017, i tillegg til med arena-arrangementene
      deres i "MGM Grand arena", Las Vegas, "Malmö Arena", Malmö og “Le Dôme de Marseille”, Marseille.
    </p>

    <br>
    <h2>Cerebral Parese-Foreningen</h2>
    <p>
      Dataspill har i dag blitt midtpunktet i hverdagen for en stor del av den yngre generasjonen. Tidligere ble det fokusert mye på de negative aspektene ved dataspill, nå skjer dette i mindre og mindre grad.
    </p>
    <p>
      Spillindustrien er ikke lenger ny, og flere av de positive aspektene kommer frem. Spill hjelper mange til å ta en velfortjent pause fra hverdagen.
      Ikke bare er dataspill underholdende, men for mange en sosial portal. Svært mange samles rundt en felles interesse, dataspill.
    </p>
    <p>
      For noen grupper møter det utfordringer når de vil spille dataspill. Enkelte kan ha motoriske vansker som gjør det problematisk å bruke den teknologien som kreves for å spille dataspill i dag.
      Derfor har vi startet et samarbeid med Cerebral Parese-foreningen for å bygge en spillkontroller som gjør det mulig for barn og unge med Cerebral Parese å spille spill som ellers ikke hadde gått.
    </p>
  </div>


  <div class="content" id="contact">
    <h2>Kontakt oss</h2><br/>
    Email: <a href="mailto:contact@otter.productions">contact@otter.porductions</a>
  </div>


</div>

<router-outlet></router-outlet>
