*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #000;
  color: #fff;
  opacity: 0.85;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

header > h1 {
  padding: 3%;
  font-size: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

/* Making the nav tabbable */
.nav-toggle {
  position: absolute !important;
  left: -9999px !important;
}


.nav-toggle:focus ~ .nav-toggle-label {
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #fff;
  height: 3px;
  width: 1.5em;
  border-radius: 4px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  left: 0;
  background: #000;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;

  opacity: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #3EAAFF;
}


.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  transition: opacity 150ms ease-in-out 150ms;
  opacity: 1;
}



@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    height: 6vh;
    width: 100%;
  }

  header > h1 {
    display: none;
  }

  .logo {
    grid-column: 1 / 2;
  }

  nav {
    /* Adding Edge compatability */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* Edge compatability end */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #fff;
    position: absolute;
    top: -.55em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}
