body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.wrapper {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.landingPage {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}
.landingPage img {
  position: absolute;
}
.landingPage .landingBackground {
  background-image: url("./assets/images/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  overflow:hidden;
}

.landingPage #otterLogo {
  z-index: 1;
  margin-top: 5%;
  height: 50%;
}
@keyframes arrow-ani {
  0%    {margin-top: 77vh;}
  100%  {margin-top: 80vh;}
}
.landingPage #arrow {
  z-index: 1;
  margin-top: 80vh;
  animation-name: arrow-ani;
  animation-duration: 0.7s;
  animation-iteration-count: 2;
  animation-delay: 0.3s;
  width: 5%;
}

.content {
  color: lightgray;
  margin: 0;
  padding: 5%;
  padding-left: 23%;
  padding-right: 23%;
  min-height: 120px;
  background-color: #338FD7;
  color: #000;
  text-align: center;
  justify-content: center;
}

.content:nth-child(odd) {
  color: lightgray;
  background-color: #02123D;
}

.content a {
  text-decoration: none;
  color: lightgray;
  font-size: 1.2em;
}

#portfolio {
  padding-left: 0;
  padding-right: 0;
}

.portoEvents {
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portoEvent {
  background: black;
  margin: 2%;
  width: 55vw;
  height: 55vw;
}

.portoEvent img {
  margin: auto;
  width: 70%;
}
.portoEvent .background {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: space-around;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
}

#contact {
  background-color: #77878B;
  color: #fff;
}


@media screen and (min-width: 800px) {
  .portoEvent {
    background: black;
    margin: 2%;
    width: 15vw;
    height: 15vw;
  }
}
